<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <div id="chat-container">
        <button id="renew-btn">新しいアシスタントと話す</button>
        <div id="chat">
            <div id="chat-box">
                <!-- ここにメッセージが表示される -->
            </div>
            <textarea id="chat-input" placeholder="メッセージを入力..."></textarea>
            <div id="send-box">
                <button id="send-btn">送信</button>
            </div>
        </div>
    </div>
    <script src="/static/js/plane_script.js"></script>
</body>
</html>
